html,
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

canvas {
  display: block;
}

#logo {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  height: 20vh;
}
